@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-image: url(./images/bg2.png);
  background-size: cover;
  background-color: #1a1d249f;
  color: #c9c4bf;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 290px;
  height: 380pxpx;
  border-radius: 20px;
  box-shadow: 0px 15px 14px 8px rgba(0, 0, 0, 0.425);
  
  .screen-container {
    display: flex;
    flex-direction: column;
    width: 290px;
    height: 120px;
    background-color: #c6d5d8;

    .input-history {
      padding: 10px;
      width: 100%;
      color: #555766;
      font-weight: 500;
      text-align: right;
      height: 45px;
    }
    .number-input {
      padding: 0 10px;
      width: 100%;
      color: #2d313d;
      font-weight: 500;
      text-align: right;
      font-size: 40px;
    }
  }

  .buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .top-rows {
      display: flex;
      flex-direction: column;


      .buttons-row {
        display: flex;
        // height: 62px;

        .number {
          background-color: #383C4B;
          color: #c6d5d8;
          &:active, &:hover {
            background-color: #2d313d;
          }
        }

        .operator {
          background-color: #292A33;
          color: #9EA8EB;

          &:active, &:hover {
            background-color: #202129ce;
          }
        }

        button {
          font-size: 19px;
          font-family: 'Poppins', sans-serif;
          cursor: pointer;
          border: none;
          width: 58px;
          height: 58px;
          border-right: 1px solid #484B5E;
          border-bottom: 1px solid #484B5E;;
        }

        .erase-btn, .divide-btn {
          border-right: none;
        }
      }

    }
    
    .bottom-rows {
      display: flex;
      
      .left-container {
        
        .buttons-row {
          display: flex;
          .number {
            background-color: #383C4B;
            color: #c6d5d8;
          }
          .number {
            background-color: #383C4B;
            color: #c6d5d8;
            &:active, &:hover {
              background-color: #2d313d;
            }
          }
          .operator {
            background-color: #292A33;
            color: #9EA8EB;
  
            &:active, &:hover {
              background-color: #202129ce;
            }
          }
          
          button {
            font-size: 19px;
            font-family: 'Poppins', sans-serif;
            cursor: pointer;
            border: none;
            width: 58px;
            height: 58px;
            // border-right: 1px solid #484B5E;
            // border-bottom: 1px solid #484B5E;;

          }
        }
        .row-three {
          button {
            border-right: 1px solid #484B5E;
            border-bottom: 1px solid #484B5E;
          }
        }
        .row-four {
          button {
            border-right: 1px solid #484B5E;

          }
          .clear-btn {
            font-size: 19px;
            background-color: #F4828D;
            color: whitesmoke;
            &:active, &:hover {
              background-color: #c45863;
            }
          }
        }
      }
    }
    .equals-container {
      display: flex;

      button {
        font-size: 19px;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
        border: none;
        height: 116px;
        width: 58px;

        background-color: #3F51B6;
        color: whitesmoke;

        &:active, &:hover {
          background-color: #33408b;
        }
      }
    }
  }

}


